/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #94a3b8;
  background-color: #020617;
}

header {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 20px;
  position: fixed; /* Membuat header tetap di atas saat di-scroll */
  top: 0; /* Atur header di bagian atas halaman */
  width: 100%; /* Lebar header sesuai dengan lebar layar */
  z-index: 1000; /* Mengatur z-index agar header tetap di atas konten */
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

header.transparent {
  background-color: transparent;
  backdrop-filter: none;
}

header.scrolled {
  background-color: rgba(0, 0, 0, 0.1); /* Hitam transparan 50% */
  backdrop-filter: blur(5px); /* Efek blur */
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo img {
  height: 30px;
  width: auto;
  border-radius: 10%;
  cursor: pointer;
}

.nav {
  margin-top: -20px;
  display: flex; /* Tampilkan nav di mode desktop */
}

.nav.active {
  display: flex; /* Tampilkan nav saat kelas active ditambahkan */
  flex-direction: column; /* Tampilkan nav dalam kolom */
  position: absolute; /* Mengatur posisi absolut untuk tampilan popup */
  top: 90px; /* Atur jarak dari header */
  padding: 10px;
  width: auto; /* Lebar 100% dari layar */
  padding-right: 70px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  right: 55px; /* Atur posisi di sebelah kanan */
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Hitam transparan 50% */
  backdrop-filter: blur(5px); /* Efek blur */
}

.nav.active a {
  margin: 7px;
}

.nav a {
  margin-bottom: 5px;
  margin: 15px;
  color: #94a3b8;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  position: relative; /* Mengatur posisi relatif untuk mengatur garis bawah */
  transition: color 0.3s ease; /* Menambahkan transisi untuk perubahan warna */
}

.nav a:hover::after,
.nav a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; /* Menyembunyikan garis bawah saat tidak di-hover */
  width: auto;
  height: 4px; /* Ketebalan garis */
  border-radius: 10px;
  background-color: #0ea5e9;
  animation: borderAppear 0.3s ease-in-out forwards; /* Menambahkan animasi */
}

.nav a:hover {
  color: #0ea5e9;
}

@keyframes borderAppear {
  from {
    width: 0; /* Awal animasi lebar 0 */
  }
  to {
    width: 100%; /* Akhir animasi lebar 100% */
  }
}

/* logo github */
.github {
  border-radius: 50%;
}

.github img {
  margin-left: 10px;
  margin-right: 40px;
  height: 30px;
  width: auto;
}

.menu {
  margin-right: 30px;
  display: none; /* Sembunyikan menu di mode desktop */
}

.menu img {
  margin-left: 10px;
  cursor: pointer;
  height: 40px;
  width: auto;
}

/* content */

/* home */
.home {
  margin-top: 200px;
  padding: 0 200px 0 200px;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.text.visible {
  opacity: 1;
  transform: translateX(0);
}

.text p {
  font-size: 25px;
  font-weight: 100;
}

.text h2 {
  font-size: 30px;
  margin-bottom: -20px;
}

.typing {
  margin-top: -20px;
  font-size: 25px;
}

.sosmed {
  display: flex;
  margin-top: 50px;
}

.sosmed img {
  margin-right: 20px;
  height: 30px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.sosmed img:hover {
  filter: grayscale(0%);
}

.profile {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-out, transform 1000ms ease-out;
}

.profile.visible {
  opacity: 1;
  transform: translateY(0);
}

.profile img {
  margin-top: 20px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #0ea5e9;
  box-shadow: 0px 0px 10px #0ea5e9;
}

/* ABOUT */

.about {
  margin-top: 200px;
  padding: 0 200px 0 200px;
  height: 100%;
  width: auto;
}

.title-about {
  display: none;
  align-items: center;
  justify-content: center;
}

.garis-about {
  width: 30px;
  height: 5px;
  background-color: #0ea5e9;
  border-radius: 10px;
}

.title-about p {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  color: #0ea5e9;
  letter-spacing: 2px;
  font-size: 20px;
}

.garis-aboutme {
  width: 30px;
  height: 5px;
  background-color: #0ea5e9;
  border-radius: 10px;
}

.garis-aboutme2 {
  margin-left: 93%;
  width: 30px;
  height: 5px;
  background-color: #0ea5e9;
  border-radius: 10px;
}

.aboutme {
  opacity: 0;
  transform: translateX(0);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.aboutme.visible {
  opacity: 1;
  transform: translateX(0);
}

.aboutme {
  background-color: #0d1425;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 1px 1px 19px 11px rgba(0, 0, 0, 0.31) inset;
  -webkit-box-shadow: 1px 1px 19px 11px rgba(0, 0, 0, 0.31) inset;
  -moz-box-shadow: 1px 1px 19px 11px rgba(0, 0, 0, 0.31) inset;
}

.pembungkus {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pp {
  padding: 0 0 0 20px;
  opacity: 0;
  transform: translateY(-200px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.pp.visible {
  opacity: 1;
  transform: translateY(0);
}

.pp img {
  background-color: #020617;
  margin-left: -20px;
  margin-right: 20px;
  height: 280px;

  border-radius: 100%;
  box-shadow: 1px 1px 19px 11px rgba(0, 0, 0, 0.31) inset;
  -webkit-box-shadow: 1px 1px 19px 11px rgba(0, 0, 0, 0.31) inset;
  -moz-box-shadow: 1px 1px 19px 11px rgba(0, 0, 0, 0.31) inset;
}

.my-info {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.my-info.visible {
  opacity: 1;
  transform: translateX(0);
}

.my-info p {
  font-weight: 300;
}

/* Sembunyikan teks lengkap secara default */
.full-text.hidden {
  display: none;
}

#banyak {
  margin-top: -15px;
}

.read-more-btn {
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  background-color: #0ea5e9;
  font-family: "Poppins", sans-serif;
}

.title-skils {
  margin-top: 150px;
  display: flex;
  align-items: center;
}

.title-skils2,
.title-skils3 {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.garis-skils,
.garis-skils2,
.garis-skils3 {
  width: 30px;
  height: 5px;
  background-color: #0ea5e9;
  border-radius: 10px;
}

.title-skils p,
.title-skils2 p,
.title-skils3 p {
  margin-left: 10px;
  font-weight: bold;
  color: #0ea5e9;
  letter-spacing: 2px;
  font-size: 20px;
}

/* General styles */
.skils-1-wrapper p,
.skils-2-wrapper p,
.skils-3-wrapper p {
  font-weight: bold;
}

.html,
.css,
.js,
.cpp,
.php,
.bootstrap,
.tailwindcss,
.laravel,
.nodejs,
.react,
.vscode,
.github-skils,
.git,
.docker,
.figma {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skils-1 img,
.skils-2 img,
.skils-3 img {
  margin-right: 10px;
}

/* Wrapper to ensure the overflow is hidden */

.skils-1-wrapper,
.skils-2-wrapper,
.skils-3-wrapper {
  width: 100%;
  overflow: hidden;
  animation: moveLeft 20s linear infinite;
}

.skils-1,
.skils-2,
.skils-3 {
  display: flex;
}

.skils-1 {
  animation: marquee-left 20s linear infinite; /* Adjust the duration as needed */
}

.skils-2 {
  animation: marquee-right 20s linear infinite; /* Adjust the duration as needed */
}

.skils-3 {
  animation: marquee-left 20s linear infinite; /* Adjust the duration as needed */
}

.skils-1 div,
.skils-2 div,
.skils-3 div {
  flex: 0 0 auto; /* Ensure the items do not shrink or grow */
  margin-right: 20px; /* Adjust the spacing between items */
}

@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-123%);
  }
}

@keyframes marquee-right {
  from {
    transform: translateX(-123%);
  }
  to {
    transform: translateX(0);
  }
}

/* Styling for the skill items */
.skils-1 div img,
.skils-2 div img,
.skils-3 div img {
  width: 30px; /* Adjust as necessary */
  height: 30px; /* Adjust as necessary */
}

.skils-1 div p,
.skils-2 div p,
.skils-3 p {
  text-align: center;
  color: white;
}

/* skils 1 */
.html,
.css,
.js,
.cpp,
.php {
  display: flex;
  height: auto;
  width: 150px;
  align-items: center;
  padding: 0 50px;
  border-radius: 10px;
  margin: 0 20px 0 0;
}

/* skils 2 */
.bootstrap,
.tailwindcss,
.laravel,
.nodejs,
.react {
  display: flex;
  height: auto;
  width: 150px;
  align-items: center;
  padding: 0 50px;
  border-radius: 10px;
  margin: 0 20px 0 0;
}

/* skils 3 */
.vscode,
.github-skils,
.git,
.docker,
.figma {
  display: flex;
  height: auto;
  width: 150px;
  align-items: center;
  padding: 0 50px;
  border-radius: 10px;
  margin: 0 20px 0 0;
}

/* skils 1 */
.html {
  background-color: rgb(255, 68, 0);
}

.css {
  background-color: rgb(0, 81, 255);
}

.js {
  background-color: #facc15;
}

.cpp {
  background-color: #0369a1;
}

.php {
  background-color: #0284c7;
}

/* skils 2 */
.bootstrap {
  background-color: #6b21a8;
}

.tailwindcss {
  background-color: #0ea5e9;
}

.laravel {
  background-color: #d31837;
}

.nodejs {
  background-color: #22c55e;
}

.react {
  background-color: #22d3ee;
}

/* skils 3 */
.vscode {
  background-color: #0ea5e9;
}

.github-skils {
  background-color: #b4b4b4;
}

.git {
  background-color: #dc2626;
}

.docker {
  background-color: #22d3ee;
}

.figma {
  background-color: #082f49;
}

/* blog */
.blog {
  margin-top: 200px;
  padding: 0 200px;
  height: 100%;
  width: auto;
}

.title-blog {
  display: none;
  align-items: center;
  justify-content: center;
}

.garis-blog {
  width: 30px;
  height: 5px;
  background-color: #0ea5e9;
  border-radius: 10px;
}

.title-blog p {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  color: #0ea5e9;
  letter-spacing: 2px;
  font-size: 20px;
}

.blog-1 {
  display: flex; /* Menggunakan flexbox untuk mengatur tata letak */
  gap: 20px; /* Jarak antara elemen */
  flex-wrap: wrap; /* Membungkus elemen jika layar terlalu sempit */
}

.content-blog-1 {
  flex: 3; /* Lebih lebar daripada .content-blog-2 */
  display: flex;
  flex-direction: column;
}

.content-blog-2 {
  flex: 1; /* Lebih sempit daripada .content-blog-1 */
  padding: 1px;
  background-color: #0d1425; /* Background untuk .content-blog-2 */
  border-radius: 10px; /* Radius border untuk tampilan yang lebih baik */
  box-sizing: border-box; /* Pastikan padding dan border dihitung dalam lebar total */
  height: max-content;
  width: max-content; /* Pastikan lebar elemen sesuai dengan container */
  overflow: hidden;
}

.content-blog-2 {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.content-blog-2.visible {
  opacity: 1;
  transform: translateX(0);
}

.content-blog-2 a {
  text-decoration: none;
}

.img-blog-1 {
  margin-bottom: 0;
}

.img-blog-1 img {
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
  width: 100%; /* Pastikan gambar mengisi seluruh lebar container */
  display: block; /* Menghilangkan ruang ekstra di bawah gambar */
  animation: blurIn 5s ease-in-out;
}

.text-img-blog-1 {
  margin-top: 0;
  background-color: #0d1425;
  border-radius: 0 0 10px 10px;
  padding: 20px; /* Menambahkan padding untuk spasi dalam */
  box-sizing: border-box; /* Mengatur box-sizing agar padding dihitung dalam lebar total */
}

.text-img-blog-1 h2 {
  font-size: 20px;
}

.text-img-blog-1 p {
  font-weight: 500;
  color: #94a3b8;
}

.text-blog-1 {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.text-blog-1:hover {
  background-color: #00273e;
}

.text-blog-1 p {
  margin: 0;
}

.text-blog-1 #title {
  color: #0284c7;
  font-weight: bold;
}

.text-blog-1 #art {
  color: #94a3b8;
  font-size: 15px;
  font-weight: 500;
}

/* BLOG-2 */
.blog-2 {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.content-blog-2-1 {
  flex-direction: column;
}

.img-blog-2-1,
.img-blog-2-2,
.img-blog-2-3 {
  border-radius: 10px 10px 0 0; /* Border radius untuk gambar */
}

.img-blog-2-1 img {
  display: block; /* Menghilangkan ruang bawah gambar */
  width: 100%; /* Pastikan gambar mengisi lebar penuh container */
  border-radius: inherit; /* Mengambil border radius dari parent */
}

.img-blog-2-2 img {
  display: block; /* Menghilangkan ruang bawah gambar */
  width: 100%; /* Pastikan gambar mengisi lebar penuh container */
  border-radius: inherit; /* Mengambil border radius dari parent */
}

.img-blog-2-3 img {
  display: block; /* Menghilangkan ruang bawah gambar */
  width: 100%; /* Pastikan gambar mengisi lebar penuh container */
  border-radius: inherit; /* Mengambil border radius dari parent */
}

.img-blog-1 img,
.img-blog-2-1 img,
.img-blog-2-2 img,
.img-blog-2-3 img {
  filter: blur(0); /* Set filter blur */
  transition: filter 3s ease-out; /* Tambahkan transisi untuk efek */
}

.img-blog-1.img-blur img,
.img-blog-2-1.img-blur img,
.img-blog-2-2.img-blur img,
.img-blog-2-3.img-blur img {
  filter: blur(10px); /* Hapus filter blur saat kelas .img-blur ditambahkan */
}

.text-img-blog-2-1,
.text-img-blog-2-2,
.text-img-blog-2-3 {
  border-radius: 0 0 10px 10px; /* Border radius untuk teks */
  background-color: #0d1425; /* Warna background untuk teks */
  margin: 0; /* Menghilangkan margin pada teks */
  padding: 20px; /* Menambahkan padding pada teks */
  box-sizing: border-box; /* Menghitung padding dalam lebar elemen */
}

.text-img-blog-2-1 h2,
.text-img-blog-2-2 h2,
.text-img-blog-2-3 h2 {
  font-size: 18px;
}

.text-img-blog-2-1 p,
.text-img-blog-2-2 p,
.text-img-blog-2-3 p {
  font-size: 14px;
  font-weight: 300;
  color: #94a3b8;
}

#product-3.highlighted {
  background-color: white;
}

/* PROJECT */
.project {
  padding: 0 200px 0 200px;
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap; /* Membungkus elemen jika tidak muat dalam satu baris */
  gap: 20px; /* Jarak antar elemen */
}

.project > div {
  flex: 1 1 calc(50% - 20px); /* Setiap elemen mengambil 50% lebar dengan jarak */
  box-sizing: border-box; /* Pastikan padding dan border dihitung dalam lebar total */
}

.img-project-1 img,
.img-project-2 img,
.img-project-3 img,
.img-project-4 img {
  width: 100%; /* Mengatur lebar gambar 100% dari kontainernya */
  height: auto; /* Mengatur tinggi gambar secara otomatis */
  border-radius: 10px; /* Border radius untuk gambar */
}

/* CONTENT-PROJECT-1 */
.img-project-1,
.img-project-2,
.img-project-3,
.img-project-4 {
  position: relative;
  overflow: hidden; /* Agar gambar yang membesar tidak keluar dari container */
  border-radius: 10px; /* Border radius untuk gambar */
}

.img-project-1 img,
.img-project-2 img,
.img-project-3 img,
.img-project-4 img {
  width: 100%; /* Mengatur lebar gambar 100% dari kontainernya */
  height: auto; /* Mengatur tinggi gambar secara otomatis */
  filter: blur(5px); /* Membuat gambar blur */
  transition: filter 0.3s ease, transform 0.3s ease; /* Animasi untuk filter dan transform */
  border-radius: inherit; /* Mengambil border radius dari parent */
}

.img-project-1:hover img,
.img-project-2:hover img,
.img-project-3:hover img,
.img-project-4:hover img {
  filter: blur(0); /* Menghilangkan blur saat di-hover */
  filter: grayscale(0);
  transform: scale(1.1); /* Membesarkan gambar sedikit */
}

.icon-container-1,
.icon-container-2,
.icon-container-3,
.icon-container-4 {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease; /* Animasi untuk munculnya ikon */
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.5);
}

.img-project-1:hover .icon-container-1,
.img-project-2:hover .icon-container-2,
.img-project-3:hover .icon-container-3,
.img-project-4:hover .icon-container-4 {
  opacity: 1; /* Menampilkan ikon saat di-hover */
  padding: 0 30px;
  border-radius: 10px;
  background-color: white;
  transition: opacity 1s ease; /* Animasi untuk munculnya ikon */
}

.icon-container-1 img,
.icon-container-2 img,
.icon-container-3 img,
.icon-container-4 img {
  margin-right: 2.5px;
  height: 40px;
  width: auto;
}

.icon-container-1 p,
.icon-container-2 p,
.icon-container-3 p,
.icon-container-4 p {
  margin-left: 2.5px;
  font-weight: 500;
  color: #0ea5e9;
}

.view-icon-1,
.view-icon-2,
.view-icon-3,
.view-icon-4 {
  width: 100%; /* Sesuaikan ukuran ikon */
  height: auto; /* Sesuaikan ukuran ikon */
}

/* popup-1 */
.popup-project-1,
.popup-project-2,
.popup-project-3,
.popup-project-4 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  justify-content: center; /* Center the popup */
  align-items: center; /* Center the popup */
}

/* Popup content */
.popup-content-1,
.popup-content-2,
.popup-content-3,
.popup-content-4 {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
}

/* Close button */
.close-popup-1,
.close-popup-2,
.close-popup-3,
.close-popup-4 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-popup-1:hover,
.close-popup-1:focus,
.close-popup-2:hover,
.close-popup-2:focus .close-popup-3:hover,
.close-popup-3:focus .close-popup-4:hover,
.close-popup-4:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Element popup-1 */
.content-img-popup-1,
.content-img-popup-2,
.content-img-popup-3,
.content-img-popup-4 {
  height: auto;
  width: 100%;
}

.content-img-popup-1 img,
.content-img-popup-2 img,
.content-img-popup-3 img,
.content-img-popup-4 img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.content-text-popup-1,
.content-text-popup-2,
.content-text-popup-3,
.content-text-popup-4 {
  font-weight: 500;
  text-align: left;
  padding: 10px 0;
}

/* Tablets (medium screens, 768px - 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .home {
    padding: 0 50px;
  }

  .about {
    padding: 0 50px;
  }

  @keyframes marquee-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-193.5%);
    }
  }

  @keyframes marquee-right {
    from {
      transform: translateX(-193.5%);
    }
    to {
      transform: translateX(0);
    }
  }

  /* blog */
  .blog {
    padding: 0 50px; /* Mengubah padding menjadi 10px */
  }

  /* PROJECT */
  .project {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap; /* Membungkus elemen jika tidak muat dalam satu baris */
    gap: 20px; /* Jarak antar elemen */
  }

  .project > div {
    flex: 1 1 calc(50% - 20px); /* Setiap elemen mengambil 50% lebar dengan jarak */
    box-sizing: border-box; /* Pastikan padding dan border dihitung dalam lebar total */
  }
}

/* Media queries untuk mode mobile */
@media screen and (max-width: 768px) {
  /* navbar */
  header {
    padding: 10px;
  }

  .menu {
    display: block; /* Tampilkan menu di mode mobile */
    margin-right: 10px;
  }

  .nav {
    display: none; /* Sembunyikan nav di mode mobile */
  }

  .nav.nav.active {
    right: 30px; /* Atur posisi di sebelah kanan */
  }

  .logo {
    display: flex;
  }

  .github {
    display: none;
  }

  /* home */
  .home {
    display: block;
    margin-top: 70px;
    padding: 10px;
  }

  .text {
    margin-top: 60px;
  }

  .text p {
    font-size: 18px;
    margin-bottom: -20px;
  }

  .text h2 {
    font-size: 23px;
  }

  .profile {
    margin-top: 100px;
    text-align: center;
  }

  .profile img {
    text-align: center;
    height: 230px;
  }

  header {
    justify-content: space-between;
  }

  /* ABOUT */
  .about {
    margin-top: 160px;
    padding: 10px;
  }

  .title-about {
    display: flex;
  }

  .pembungkus {
    display: block;
  }

  .pp {
    padding: 0;
    text-align: center;
  }

  .pp img {
    margin: 0;
    height: 180px;
  }

  /* skils */
  .skils-1 div img,
  .skils-2 div img,
  .skils-3 div img {
    height: 20px; /* Adjust as necessary */
    width: auto; /* Adjust as necessary */
  }

  .skils-1 div p,
  .skils-2 div p,
  .skils-3 p {
    font-size: 11px;
    text-align: center;
  }

  /* skils 1 */
  .html,
  .css,
  .js,
  .cpp,
  .php {
    width: 120px;
    padding: 0 20px;
    margin: 0 10px 0 0;
  }

  /* skils 2 */
  .bootstrap,
  .tailwindcss,
  .laravel,
  .nodejs,
  .react {
    width: 120px;
    padding: 0 20px;
    margin: 0 10px 0 0;
  }

  /* skils 3 */
  .vscode,
  .github-skils,
  .git,
  .docker,
  .figma {
    width: 120px;
    padding: 0 20px;
    margin: 0 10px 0 0;
  }

  @keyframes marquee-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-215.5%);
    }
  }

  @keyframes marquee-right {
    from {
      transform: translateX(-215.5%);
    }
    to {
      transform: translateX(0);
    }
  }

  /* BLOG */

  .blog {
    padding: 10px;
  }

  .blog-1 {
    flex-direction: column; /* Mengubah tata letak ke vertikal */
  }

  .content-blog-1,
  .content-blog-2 {
    width: 100%; /* Gunakan lebar penuh */
  }

  .text-img-blog-1 {
    padding: 15px; /* Ubah padding */
  }

  .text-img-blog-1 h2 {
    font-size: 18px; /* Ubah ukuran font */
  }

  .text-img-blog-1 p {
    font-size: 14px; /* Ubah ukuran font */
  }

  .content-blog-2 {
    margin-bottom: 10px;
  }

  .content-blog-2 {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  .content-blog-2.visible {
    opacity: 1;
    transform: translateY(0);
  }

  /* blog 1.2 / bawah */
  .blog-2 {
    flex-direction: column; /* Mengubah tata letak ke vertikal */
    align-items: center; /* Pusatkan elemen di tengah */
    margin-top: 10px; /* Ubah margin atas */
  }

  .img-blog-2-1 img,
  .img-blog-2-2 img,
  .img-blog-2-3 img {
    border-radius: 10px 10px 0 0; /* Ubah border radius */
  }

  .text-img-blog-2-1 {
    width: 100%; /* Gunakan lebar penuh */
    border-radius: 0 0 10px 10px; /* Ubah border radius */
  }

  .text-img-blog-2-1 {
    padding: 15px; /* Ubah padding */
  }

  .text-img-blog-2-1 h2 {
    font-size: 16px; /* Ubah ukuran font */
  }

  .text-img-blog-2-1 p {
    font-size: 12px; /* Ubah ukuran font */
  }

  /* PROJECT */
  .project {
    padding: 10px;
    flex-direction: column; /* Mengatur elemen dalam kolom */
    gap: 10px; /* Jarak antar elemen */
  }

  .project > div {
    flex: 1 1 100%; /* Setiap elemen mengambil lebar penuh */
  }

  .popup-project-1 {
    padding: 10px;
  }

  .popup-content-1 {
    width: 95%;
    padding: 10px;
  }

  .popup-project-2 {
    padding: 10px;
  }

  .popup-content-2 {
    width: 95%;
    padding: 10px;
  }
  .popup-project-3 {
    padding: 10px;
  }

  .popup-content-3 {
    width: 95%;
    padding: 10px;
  }

  .popup-project-4 {
    padding: 10px;
  }

  .popup-content-4 {
    width: 95%;
    padding: 10px;
  }
}
